@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Navex Global</p>
    <p>Lake Oswego, Oregon</p>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jmoreno@navexglobal.com">jmoreno@navexglobal.com</a><br />
</address>