@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Food Reviewer for Pluralsight MVC tutorial</p>
    <p><a href="https://odetofoodmvc4.codeplex.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

